#myTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#myTable th {
    background-color: #f2f2f2;
}
.edit-container{
    display: none;
}
